{{define "views/CustomPokemons.gohtml"}}

{{template "components/Head.gohtml"}}
{{template "components/Navbar.gohtml" .NavigationLinks}}
<div class="container-xxl pt-5">

  <h1>views/CustomPokemons.gohtml</h1>
</div>

{{template "components/Footer.gohtml"}}

{{end}}